@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.div {
    height: 100vh;
    width: 100vw;
    margin-left:auto;
    margin-right:auto;
}

.p1 {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 24px;
}
.carouselCon{
    height:42vh;
}
.h1 {
    color: #323f4b;
    font-size: 30px;
    font-family: "Roboto";
}

.im {
    padding: 10px;
    width:33%;
}

.vd {
    padding: 8px;
}
@media(min-width:992px){
 .div{   
     width: 500px;
  }
  .p1 {
    font-size: 17px;
  }
  .carouselCon{
    height:45vh;
  }
  .h1 {
    font-size: 20px;
   }
}